@use "../font" as font; 
@use "../color";

@import url("../reset.scss");

@import url("../print.scss");

.page {
  background: url("/assets/images/background-tile.svg") var(--color-background);
  font-family: font.$family, "ui-sans-serif", "system-ui", "sans-serif", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  min-height: 100vh;
}