@import url("../reset.css");
@import url("../print.css");

@import url("../colors.css");
@import url("../fonts.css");


.page {
  background: url("/images/background-tile.svg") rgba(var(--color-background));
  font-family: "Kanit", "ui-sans-serif", "system-ui", "sans-serif", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  min-height: 100vh;
}