@use "../configuration/font"; 
@use "../configuration/color";

@use "../utilities/reset";

.page {
  min-height: 100vh;

  background: url("/assets/images/background-tile.svg") color.dynamic("background");

  font-family: font.$family, "ui-sans-serif", "system-ui", "sans-serif", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: color.dynamic("background", "text");

  & ::selection {
    background: color.dynamic("selection");
    color: color.dynamic("selection", "text");
  }

  @media print {
    & {
        font-size: 0.8em;
    }
  }
}