@use "../color";
@use "../reset";
@use "../size";

.profile {
  display: grid;
  justify-content: center;
  gap: 1rem;

  max-width: size.breakpoint("extra-large");
  padding: 2rem;

  overflow: auto;
  margin: auto;

  &__aside-top {
    justify-self: center;

    max-width: 18rem;
    width: 100%;

    margin-bottom: 1.5rem;
  }

  &__aside-bottom {
    display: grid;
    gap: 1.5rem;
  }

  @media (min-width: size.breakpoint("medium")) {
    & {
      grid-template-columns: 1fr auto;
  
      &__aside-top {
        order: 2;
  
        max-width: 15rem;
      }
  
      &__aside-bottom {
        order: 3;
        
        max-width: 16rem;
      }
  
      &__main {
        grid-row: span 3 / span 3;
  
        margin-right: 4rem;
      }
    }
  }

  @media (min-width: size.breakpoint("large")) {
    &__aside-top {
      max-width: 16rem;
    }
  
    &__aside-bottom {
      max-width: 18rem;
    }
  
    &__main {
      margin-right: 8rem;
    }
  }
}