@use "../../configuration/color";
@use "../../mixins/color" as colorMixins;

%panel {
  padding: 0.5em;


  border: 0.2rem solid color.dynamic("contour");
  border-radius: 0.6rem;
}

  
.panel-primary {
  @extend %panel;

  @include colorMixins.background("primary")
}

.panel-secondary {
  @extend %panel;

  @include colorMixins.background("secondary")
}

.panel-foreground {
  @extend %panel;

  @include colorMixins.background("foreground")
}