---
import type {Polymorphic} from "astro/types";

import type {Importance} from "../../types";

export type AttributeProps = {
  "importance": Importance;
};

type _Props = Omit<Polymorphic<AttributeProps & {
  "as": "p";
}>, "as">;

export type Props = _Props;

const {importance, "class": className, ...props} = Astro.props;
---

<p class:list={[`paragraph-${importance}`, className]} {...props}>
  <slot />
</p>

<style lang="scss" is:global>
  @use "sass:map";

  @use "../../style/configuration/breakpoint";
  @use "../../style/mixins/paragraph" as *;

  .paragraph {
    @each $importance_name, $paragraph_size_name in (
      "high": "large",
      "medium": "medium",
      "low": "small"
    ) {
      &-#{$importance_name} {
        @include paragraph($paragraph_size_name);
      }
    }
  }

</style>

