---
import type {Polymorphic} from "astro/types";

import type {Accent} from "../../types";

export type AttributeProps = {
  "accent": Accent;
  "label": string;
};

type _Props = Omit<Polymorphic<AttributeProps & {
  "as": "article";
}>, "as">;

export type Props = _Props;

const {accent, label, ...props} = Astro.props;
---
<article class="profile-article" {...props}>
  <h2 class={`profile-article__header-${accent}`}>{label}</h2>
  <div class="profile-article__content">
    <slot />
  </div>
</article>


<style lang="scss" is:global>
  @use "../../style/mixins/compound/panel";
  @use "../../style/mixins/margin";

  .profile-article {
    @include panel.content;

    &__header-primary {
      @include panel.heading("primary");
    }

    &__header-secondary {
      @include panel.heading("secondary");
    }

    &__content {
      @include margin.all($margin_top_size_name: "medium", $margin_bottom_size_name: "large");
    }
  }
</style>