:root {
  --color-primary: 253, 224, 71;
  --color-secondary: 153, 246, 228;
  --color-background: 254, 252, 232;
  --color-foreground: 255, 255, 255;
  --color-contour: 0, 0, 0;
  --color-selection: 0, 0, 0;

  --color-text-primary: 0, 0, 0;
  --color-text-secondary: 0, 0, 0;
  --color-text-background: 0, 0, 0;
  --color-text-foreground: 0, 0, 0;
  --color-text-selection: 255, 255, 255;
}