@use "sass:list";
@use "sass:string";

@use "../configuration/contour";
@use "../configuration/color";

@mixin border($contour_size_name, $contour_radius_type_name, $contour_type_name: "solid", $contour_color_name...) {
  $contour_color_name: if(list.length($contour_color_name) > 0, $contour_color_name, ("contour"));

  border: contour.size($contour_size_name) string.unquote(contour.type($contour_type_name)) color.variable($contour_color_name...);
  border-radius: contour.radius($contour_radius_type_name);
}

@mixin shadow($contour_size_name, $contour_color_name: "contour") {
  box-shadow: contour.size($contour_size_name) contour.size($contour_size_name) 0 color.variable($contour_color_name);
}