@use "sass:list";

@use "../configuration/margin";
@use "../utilities/lists";

@mixin all($first_size_name: 0, $second_size_name: 0, $third_size_name: 0, $fourth_size_name: 0) {
  $size_name_list: ($first_size_name, $second_size_name, $third_size_name, $fourth_size_name);
  
  $trailing_value: 0;
  $size_list: ();
  @for $index from 1 through lists.non-trailing-last-index($size_name_list, $trailing_value) {
    $value: list.nth($size_name_list, $index);
    @if $value != $trailing_value {
      $value: margin.size($value);
    }
    
    $size_list: list.append($size_list, $value);
  }

  margin: $size_list;
}

@mixin top($size_name) {
  margin-top: margin.size($size_name);
}

@mixin right($size_name) {
  margin-right: margin.size($size_name);
}

@mixin bottom($size_name) {
  margin-bottom: margin.size($size_name);
}

@mixin left($size_name) {
  margin-left: margin.size($size_name);
}