@use "sass:list";

@function non-trailing-last-index($list, $trailing_element) {
  $non_trailing_index: 1;
  @for $index from 1 through 4 {
    $value: list.nth($list, $index);
    @if $value != $trailing_element {
      $non_trailing_index: $index;
    }
  }

  @return $non_trailing_index;
}

@function contains($list, $search_element) {
  @each $element in $list {
    @if $element == $search_element {
      @return true;
    }
  }
  @return false;
}