---
import type {Profile} from "../../../profile";

import Panel from "../../panel/Panel.astro";
import PanelHeading from "../../panel/PanelHeading.astro";
import VCardQRCode from "../../vcard/VCardQRCode.astro";
import ProfileContactIconLink, {type Props as ProfileContactIconLinkProps} from "./ProfileContactIconLink.astro";

export interface Props extends Pick<Profile, "names">, Pick<Profile["contact"], "label" | "qr"> {
  "links": ProfileContactIconLinkProps[];
}

const {links, qr, ...props} = Astro.props;
---

<Panel significance={200}>
  <PanelHeading color="secondary">{props.label}</PanelHeading>
  <div class="m-2">
    {qr.enabled &&
      <div class="mt-4 mb-8 p-4 border-4 border-dashed border-contour rounded-lg">
        <div class="max-w-64 mx-auto">
          <VCardQRCode names={props.names} urls={links.map(link => link.url)} />
        </div>
        <p class="mt-4 font-light text-xs italic text-center">{qr.description}</p>
      </div>
    }

    <div class="grid grid-cols-[repeat(auto-fit,_minmax(14rem,_1fr))] gap-2">    
      {links.length > 0 && links.map(linkProps =>
        <ProfileContactIconLink {...linkProps}/>
      )}
    </div>
  </div>
</Panel>