---
import type {Profile} from "../../../profile";

import VCardQRCode from "../../vcard/VCardQRCode.astro";
import ProfileContactIconLink, {type Props as ProfileContactIconLinkProps} from "./ProfileContactIconLink.astro";
import ProfileArticlePanel from "../ProfileArticlePanel.astro";
import Paragraph from "../../text/Paragraph.astro";

export type Props = Pick<Profile, "names"> & Pick<Profile["contact"], "label" | "qr"> & {
  "links": ProfileContactIconLinkProps[];
};

const {names, links, label, qr} = Astro.props;
---

<ProfileArticlePanel label={label} accent="secondary">
  {qr.enabled &&
    <div class="profile-qr-frame">
      <VCardQRCode {names} urls={links.map(link => link.url)} />
      <Paragraph importance="low"><em>{qr.description}</em></Paragraph>
    </div>
  }

  <div class="grid grid-cols-[repeat(auto-fit,_minmax(14rem,_1fr))] gap-2">    
    {links.length > 0 && links.map(linkProps =>
      <ProfileContactIconLink {...linkProps}/>
    )}
  </div>
</ProfileArticlePanel>

<style lang="scss" is:global>
  @use "../../../style/mixins/contour";
  @use "../../../style/mixins/padding";
  @use "../../../style/mixins/margin";

  .profile-qr-frame {
    @include contour.border("medium", "large", "dashed");
    @include padding.all("large");
    @include margin.all($fourth_size_name: "small", $second_size_name: "small");
  }
</style>