@use "./panel" as super;

@mixin panel($shadow_offset_size_name, $color_variant_name) {
  @include super.panel(
    $padding_size_name: "medium",
    $border_radius_name: $border_radius_name,
    $shadow_offset_size_name: $shadow_offset_size_name,
    $color_variant_name: $color_variant_name,
    $color_name: "foreground"
  );
}