@use "../../configuration/color";
@use "../../mixins/color" as colorMixins;

.profile-picture {
  display: block;
  width: 100%;

  &__image {
    @include colorMixins.background("primary");

    width: 100%;
    height: auto;
    padding: 0.5em;

    border: 0.2rem solid color.dynamic("contour");
    border-radius: 9999px;
  }
}