@use "@fontsource/kanit/scss/mixins" as font;

@include font.faces(
  $subsets: latin,
  $weights: (300, 400, 600, 800),
  $styles: normal,
  $directory: "@fontsource/kanit/files"
);

$family: "Kanit";