---
import "../style/layouts/page.css";

import type {LocaleName} from "../locale";

export interface Props {
  "locale": LocaleName;
  "title": string;
}

const {locale, title} = Astro.props;
---

<!DOCTYPE html>
<html lang={locale}>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{title}</title>
  </head>
  <body>
    <div class="page">
      <slot />
    </div>
  </body>
</html>