---
import type {Polymorphic} from "astro/types";

import type {LocaleName} from "../locale";

export type AttributeProps = {
  "locale": LocaleName;
  "title": string;
};

type _Props = Omit<Polymorphic<AttributeProps & {
  "as": "html";
}>, "as" | "lang">;

export type Props = _Props;

const {locale, title, ...props} = Astro.props;
---

<!DOCTYPE html>
<html lang={locale} {...props}>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{title}</title>
  </head>
  <body>
    <div class="page">
      <div class="page__content">
        <slot />
      </div>
    </div>
  </body>
</html>

<style lang="scss" is:global>
  @use "../style//configuration/breakpoint";
  @use "../style/configuration/padding"; 
  @use "../style/configuration/color" with (
    $css_variable_selector: ".page"
  );
  @use "../style/configuration/font"; 

  @use "../style/mixins/selection" as *;
  
  @use "../style/utilities/reset";

  .page {
    min-height: 100vh;

    background: color.variable("background");

    font-family: font.family(), "ui-sans-serif", "system-ui", "sans-serif", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: color.variable("text", "background");

    & ::selection {
      @include selection;
    }

    &__content {
      max-width: breakpoint.size("extra-large");
      padding: padding.size("largest");

      overflow: auto;
      margin: auto;
    }
  }
</style>